// styles in this file only apply to the Qiqochat wrapper page
@import "base";

body {
  color: #5a5a5a;
}

#navbar {
  background-color: #aa1a37;
  color: #fff;
  border-bottom-color: #aa1a37 !important;
}
