// styles in this file only apply to the Qiqochat wrapper page
@import "base";

%page-background {
  background-color: #f5f5f6 !important;
}

body {
  @extend %page-background;

  color: $color-gray-dark;
}

#video_sidebar {
  @extend %page-background;
}

// //////////////////////////////////////////////////////////////////
// GLOBAL
// //////////////////////////////////////////////////////////////////
.btn {
  border-radius: 0;

  &, &-outline-primary {
    color: $color-darkest-gray;
    border-color: $color-darkest-gray;
  }

  &:hover {
    border: 1px solid $color-darkest-gray;
    background-color: $color-lightest-gray;
  }

  &-success {
    background-color: $color-red;
    color: #fff;
    border-color: $color-dark-red;

    &:hover {
      background-color: $color-dark-red;
      border-color: $color-dark-red;
    }
  }

  &-primary {
    background-color: $color-lightest-gray;
    color: $color-darkest-gray;
    border-color: $color-darkest-gray;
    font-weight: bold;

    &:hover {
      color: $color-darkest-gray;
      background-color: $color-light-gray;
      border-color: $color-darkest-gray;
    }
  }
}

// //////////////////////////////////////////////////////////////////
// NAVBAR & TOP OF PAGE
// //////////////////////////////////////////////////////////////////
#navbar {
  background-color: $color-primary;
  color: #fff;
  border-bottom-color: $color-primary !important;

  .linklike {
    color: #fff;
  }

  .custom_heading_a2 {
    color: $color-white;
  }
}

#show_main_top_menu {
  background-color: $color-light-gray !important;
  color: $color-black !important;
}

#main_top_menu {
  color: $color-black;
  background: $color-light-gray;

  .whitish_linklike, .gray_text {
    &, &:visited, &:hover, a {
      color: #000;
    }
  }

  .btn {
    border-color: inherit !important;
    color: inherit !important;
    background-color: inherit !important;

    &:hover {
      background-color: $color-gray !important;
    }
  }
}

// //////////////////////////////////////////////////////////////////
// EVENT LANDING PAGE
// //////////////////////////////////////////////////////////////////
#start-time-background {
  background-color: $color-white !important;
  color: $color-darkest-gray !important;
  border: 1px solid $color-gray;

  .custom_heading_a1 {
    color: $color-darkest-gray !important;
  }
}

// //////////////////////////////////////////////////////////////////
// BREAKOUT ROOM PAGE
// //////////////////////////////////////////////////////////////////
.breakouts-iframe-index-button {
  border-bottom: 1px solid $color-gray;
  margin-right: 20px;
  margin-bottom: 10px;
  border-width: 0 0 1px 0;

  &.btn-primary {
    border-width: 1px;
  }
}
